.center {
  font-size: 0; /*remove white space*/
  text-align: justify;
}
.center:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.leftk,
.rightk {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}